{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
<div class="col-lg-12">

    <!-- Title -->
    <h1 class="mt-4">Welcome to MyBlog</h1>

    <!-- Author -->
    <p class="lead">
        By Camilo Pulido Perez
    </p>

    <hr>

    <p class="lead" style="text-align: center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, vero, obcaecati, aut, error quam sapiente nemo saepe quibusdam sit excepturi nam quia corporis eligendi eos magni recusandae laborum minus inventore?</p>
</div>
{% endblock %}
